---
 const personalImageAlt = "Manuel Gutiérrez"
 import { t } from "i18next";

---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      {t("about_me_title")}
       <strong
        >{t("about_me_strong")}</strong
      >.
    </p>

    <p>
      {t("about_me_subtitle")}<strong
        >{t("about_me_subtitle_strong")}</strong
      >. {t("about_me_info")}
    </p>

    <p>
      {t("about_me_carreer")}  <strong
        >{t("about_me_carreer_strong")}</strong
      > {t("about_me_carreer_info")}
    </p>
  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
