---
import { t } from 'i18next';

import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCIE = [
  {
    date: 'August 2022 - Now',
    title: 'Web Software Engineer',
    company: 'NCC Group',
    description: t('ncc_experience'),
    // link: 'https://www.escode.com/'
  },
  {
    date: 'October 2021 - August 2022',
    title: 'Frontend Developer',
    company: 'BCNC Group',
    description: t('bcnc_experience')
  },
  {
    date: 'April 2020 - August 2022 ',
    title: 'FullStack Web Developer',
    company: 'Bluumii & Atrebo',
    description: t('blumii_experience')
  }
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
